<div>
    <form id="form">
        <input type="text" id="name"><br>
        <label for="fname">Escribe el mensaje:</label><br>
        <input type="text" id="message"><br>
        <input type="submit" value="Enviar">
    </form>
    <div id="messages">
        <p>Aquí iran los mensajes nuevos</p>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/chat.js"></script>